@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Exa:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&family=Zen+Dots&display=swap');
*{
    padding: 0;
    margin: 0;
  }
.car-img {
 max-width: 310px;
 width: 100%;
 height: auto;
 margin: 24px auto ;
 display: block;
 margin-bottom: 0;
}
.main-text-card {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    padding-left: 10px;
}
.less-text-card {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
}
.card-button {
    height: 35px;
    text-align: center;
    max-width: 310px;
    width: 100%;
    margin: 10px auto ;
    display: block;
    background-color: #472100;
    font-size: 15px;
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-style: normal;
    color:aliceblue;
    border-radius: 5px;
    transition: background-color 0.6s ease;
    text-decoration: none;
}
.card-text-button {
    padding-top: 8.5px;
}
.card-button:hover {
    background-color: #a66c36; /* Новый цвет фона при наведении */
}
.card-textcontainer {
    width: 100%;
    max-width: 310px;
    margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 750px) {
.less-text-card {
    padding-left: 0px;
}
.main-text-card {
    padding-left: 0px;
}
.car-img {
    max-width: 360px;
    max-height: auto;
}
}