* {
    padding: 0;
    margin: 0;
}
.main-block {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 1440px;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0;
  }